process {
    queue="$SCXA_LSF_QUEUE"
    clusterOptions="$SCXA_LSF_OPTIONS"
    executor='lsf'
    
    withName: 'download_fastqs' {
        clusterOptions = "-g /scxa_ena_download"
    }
}

executor {
    queueSize=500
    perJobMemLimit=true
    exitReadTimeout='100000 sec'
    pollInterval = '5sec'
}

conda {
    cacheDir = "$SCXA_WORKFLOW_ROOT/envs"
    createTimeout = "30 min"
}

params {
    mode = 'snRNA' 
    downloadMethod = 'http'
    maxConcurrentDownloads = 10
    minMappingRate = 12
    minCbFreq = 10    

    'emptyDrops' {
        lower = 100
        nIters = 1000
        testAmbient = 'FALSE'
        filterEmpty = 'TRUE'
        filterFdr = '0.01'
        libType = 'ISR'
    }

    '10xv2' {
        alevinType = 'chromium'
        barcodeLength = 16
        umiLength = 10
        end = '5'
        libType = 'ISR'
    }

    'drop-seq' {
        alevinType = 'dropseq'
        barcodeLength = 12
        umiLength = 8
        end = '5'
        libType = 'ISR'
    }
    
    'seq-well' {
        alevinType = 'dropseq'
        barcodeLength = 12
        umiLength = 8
        end = '5'
        libType = 'ISR'
    }

    '10xv3' {
        alevinType = 'chromiumV3'
        barcodeLength = 16
        umiLength = 12
        end = '5'
        libType = 'ISR'
    }
    
    '10x5prime' {
        alevinType = 'custom'
        barcodeLength = 16
        umiLength = 10
        end = '5'
        libType = 'ISF'
    }

    salmon {
        index {
            kmerSize = 31
        }
    }

}
