process {
    executor='lsf'
    queue='production-rh74'
}

executor {
    queueSize=500
    perJobMemLimit=true
    exitReadTimeout='100000 sec'
    pollInterval = '5sec'
}

conda {
    cacheDir = "$SCXA_WORKFLOW_ROOT/envs"
    createTimeout = "30 min"
}

params {
    
    downloadMethod = 'wget'
    maxConcurrentDownloads = 10
    minMappingRate = 40
    minCbFreq = 10    

    'emptyDrops' {
        lower = 100
        nIters = 1000
        testAmbient = 'FALSE'
        filterEmpty = 'TRUE'
        filterFdr = '0.01'
    }

    '10xv2' {
        kallistoType = '10xv2'
        alevinType = 'chromium'
        barcodeLength = 16
        umiLength = 10
        end = '5'
    }

    'drop-seq' {
        kallistoType = 'DropSeq'
        alevinType = 'dropseq'
        barcodeLength = 12
        umiLength = 8
        end = '5'
    }

    '10xv3' {
        kallistoType = '10xv3'
        alevinType = 'chromiumV3'
        barcodeLength = 16
        umiLength = 12
        end = '5'
    }

    salmon {
        libType = 'ISR'
        index {
            kmerSize = 31
        }
    }

}
