process {
    executor='lsf'
    queue='production-rh74'
    clusterOptions = '-R \"select[hname!=\'hx-noah-03-10\']\"'
}

executor {
    queueSize=500
    perJobMemLimit=true
    exitReadTimeout='100000 sec'
    pollInterval = '5sec'
}

conda {
    cacheDir = "$SCXA_WORKFLOW_ROOT/envs"
    createTimeout = "30 min"
}

params {
    
    downloadMethod = 'wget'
    maxConcurrentDownloads = 20
    
    '10xv2' {
        alevinType = 'chromium'
    }

    'drop-seq' {
        alevinType = 'dropseq'
    }

    '10xv3' {
        alevinType = 'chromiumV3'
    }

    salmon {
        libType = 'ISR'
        index {
            kmerSize = 31
        }
    }

}
